{% extends 'basic.htm'%}
{% block title %}Downloading and installing the latest python 3{% endblock title %}

{% block content %}
<div class="container">
    <div class="heading">Download and Install Python 3 Latest Version</div>
    <p class="description mb-5">How to Download and Install Python 3 Latest Version? In this article, you will get the answer to all your questions related to installing Python on Windows/Linux/macOS. Python was developed by Guido van Rossum in the early 1990s and its latest version is 3.10.0, we can simply call it as Python3.</p>
    <p class="mb-5">To understand how to install Python You need to know What Python is and where it is actually installed in your system.</p>
    Let’s consider a few points:
    <ul class="facts-list mb-5">
        <li>Python is a widely-used general-purpose, high-level programming language.</li>
        <li>Every Release of Python is open-source. Python releases have also been GPL-compatible.</li>
        <li>Any version of Python can be downloaded from Python Software Foundation website at <a href="https://www.python.org/">python.org</a>.</li>
        <li>Most of the languages, notably Linux provide a package manager through which you can directly install Python on your Operating System</li>
    </ul>
    In this Python tutorial of Installation and Setup, you’ll see how to install Python on Windows, macOS, Linux, iOS, and Android.
    <div class="mt-5 heading">Python Latest Version Installation and Setup</div>
    <div class="heading" style="font-size: 22px;">How to install Python on Windows?</div>
    <p>Since windows don’t come with Python preinstalled, it needs to be installed explicitly. Here we will define step by step tutorial on How to install Python on Windows.</p>
    Follow the steps below :
    <ul class="facts-list">
        <b>Download Python Latest Version from python.org</b>
        <li>First and foremost step is to open a browser and open <br><a href="https://www.python.org/downloads/windows/" target="_blank">https://www.python.org/downloads/windows/</a></li>
        <li>Underneath the Python Releases for Windows find Latest Python 3 Release – Python 3.10.0 (latest stable release as of now is Python 3.10.0).</li>
        <li>On this page move to Files and click on Windows x86-64 executable installer for 64-bit or Windows x86 executable installer for 32-bit.</li>
        <b>Install Python 3.10.0 Latest Version on Windows</b>
        <li>Run the Python Installer from downloads folder</li>
        <li>Make sure to mark Add Python 3.7 to PATH otherwise you will have to do it explicitly. <br>
            It will start installing python on windows.</li>
        <li>After installation is complete click on Close. <br>
            Bingo..!! Python is installed. Now go to windows and type IDLE.</li>
    </ul>
</div>



{% endblock content%}
{% block pageNavigator%}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="/PythonAdv">Previous</a></li>
        <li class="page-item"><a class="page-link" href="/python3basics">Next</a></li>
    </ul>
</nav>

{% endblock pageNavigator%}