{% extends 'basic.htm' %}
{% block title %}Online Compiler By Jitendra Soni{% endblock title%}
{% block content %}
<div class="container">
    <div class="heading">Online Compiler- By Jitendra Soni</div>
    <form action="/runcode" name="onlinecompiler" method="post">
        {% csrf_token %}
    <div class="form-group" style="margin-left:50px;margin-right:50px;">
      <label for="codearea">Code Area</label>
      <textarea type="text" class="form-control mb-5" id="codearea" name="codearea" rows="7" onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}">{{ code }}</textarea>
    </div>
    <button type="submit" class="btn btn-primary mb-5" style="margin-left:50px;">run >></button>
    
    <div class="form-group" style="margin-left:50px;margin-right:50px;">
      <label for="output">Output</label>
      <textarea type="text" class="form-control" id="output" name="output" rows="4" disabled> {{ output }} </textarea>
    </div>
  
  </form>
</div>
{%endblock content %}