{% extends 'basic.htm'%}
{% block title %}Python Language Introduction{% endblock title%}
{% block content %}
<div class="container">
    <div class="heading">Python Language Introduction</div>
    <p class="description mb-5"><a href="/" style="color: green;">Python</a> is a widely used general-purpose, high
        level programming language. It was created by Guido van Rossum in 1991 and further developed by the Python
        Software Foundation. It was designed with an emphasis on code readability, and its syntax allows programmers to
        express their concepts in fewer lines of code.</p>


    <p class="mb-5">Python is a programming language that lets you work quickly and integrate systems more efficiently.
    </p>
    <p class="mb-5">There are two major Python versions: Python 2 and Python 3. Both are quite different.</p>
</div>



{% endblock content%}
{% block pageNavigator%}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="/">Previous</a></li>
        <li class="page-item"><a class="page-link" href="/PythonAdv">Next</a></li>
    </ul>
</nav>

{% endblock pageNavigator%}