{% extends 'basic.htm' %}
{% block title %}Python Language advantages and applications{% endblock title%}
{% block content %}
<div class="container">
    <div class="heading">Python Language advantages and applications</div>
    <p class="description mb-5">Python is a high-level, interpreted, and general-purpose dynamic programming language that focuses on code readability. It has fewer steps when compared to Java and C. It was founded in 1991 by developer Guido Van Rossum. Python ranks among the most popular and fastest-growing languages in the world. Python is a powerful, flexible, and easy-to-use language. In addition, the community is very active there. It is used in many organizations as it supports multiple programming paradigms. It also performs automatic memory management.</p>
    <b>Advantages : </b>
    <ol class="facts-list mb-5">
        <li>Presence of third-party modules </li>
        <li>Extensive support libraries(NumPy for numerical calculations, Pandas for data analytics etc) </li>
        <li>Open source and community development </li>
        <li>Versatile, Easy to read, learn and write</li>
        <li>User-friendly data structures </li>
        <li>High-level language </li>
        <li>Dynamically typed language(No need to mention data type based on the value assigned, it takes data type) </li>
        <li>Object-oriented language </li>
        <li>Portable and Interactive</li>
        <li>Ideal for prototypes – provide more functionality with less coding</li>
        <li>Highly Efficient(Python’s clean object-oriented design provides enhanced process control, and the language is equipped with excellent text processing and integration capabilities, as well as its own unit testing framework, which makes it more efficient.) </li>
        <li>(IoT)Internet of Things Opportunities</li>
        <li>Interpreted Language</li>
        <li>Portable across Operating systems </li>
    </ol>
    <b>Applications : </b>
    <ol class="facts-list mb-5">
        <li>GUI based desktop applications</li>
        <li>Graphic design, image processing applications, Games, and Scientific/ computational Applications</li>
        <li>Web frameworks and applications </li>
        <li>Enterprise and Business applications </li>
        <li>Operating Systems</li>
        <li>Education</li>
        <li>Database Access</li>
        <li>Language Development </li>
        <li>Prototyping </li>
        <li>Software Development</li>
    </ol>

    <b>Organizations using Python : </b>
    <ol class="facts-list mb-5">
        <li>Google(Components of Google spider and Search Engine) </li>
        <li>Yahoo(Maps) </li>
        <li>YouTube</li>
        <li>Mozilla</li>
        <li>Dropbox</li>
        <li>Microsoft</li>
        <li>Cisco</li>
        <li>Spotify</li>
        <li>Quora</li>
    </ol>

</div>



{% endblock content%}
{% block pageNavigator%}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="/pythonLanguageIntro">Previous</a></li>
        <li class="page-item"><a class="page-link" href="/downloadAndInstall">Next</a></li>
    </ul>
</nav>

{% endblock pageNavigator%}